

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://media.contentapi.ea.com/content/dam/gin/images/2017/01/harry-potter-goblet-of-fire-key-art.jpg.adapt.crop16x9.575p.jpg"
      cardTitle="Harry Potter e o Cálice de Fogo"
      cardDescription="Harry, Ron e Hermione estão de volta! O videogame Harry Potter e o Cálice de Fogo™ será lançado em novembro em conjunto com a Warner Bros.">
    </app-big-card>

    <app-big-card
      photoCover="https://wallpapercave.com/wp/QyZVjuy.jpg"
      cardTitle="Harry Potter e as Relíquias da Morte parte II"
      cardDescription="A história mostra a continuação do trio terminando a tarefa que Dumbledore lhes deixou (procurar e destruir as Horcruxes criadas pelo vilão Lorde Voldemort).">
  </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="https://images.thedirect.com/media/article_full/harry-potters.jpg"
      cardTitle="Alohomora! Abrimos os portões de Hogwarts.">
  </app-small-card>
    <app-small-card
      photoCover="https://wallpapercave.com/dwp1x/cdVkPpY.jpg"
      cardTitle="Harry Potter e a Ordem da Fênix">
    </app-small-card>
    <app-small-card
      photoCover="https://wallpapercave.com/dwp1x/Mx1oePA.jpg"
      cardTitle="Harry Potter e o Prisioneiro de Azkaban">
    </app-small-card>
    <app-small-card
      photoCover="https://wallpapercave.com/dwp1x/JQGpuF3.jpg"
      cardTitle="Harry Potter e a Pedra Filosofal">
    </app-small-card>
  </div>
</div>
